---
const getYear = () => new Date().getFullYear().toString();
---

<footer class='flex justify-center items-center bg-transparent py-4 mt-4'>
  <p class='flex items-center text-center font-light text-sm text-secondary'>
    &copy; {getYear()}
  </p>
</footer>
